*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: #00AA;
}

.grid-main {
  display: grid;
  place-content: center;
  min-height: 100vh;

  grid-template-areas:
    "chiffres calculs";

  grid-template-columns: 300px 100px;
  grid-template-rows: 400px;
  gap: 0px;
  
}
.grid-reset{
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: 2,25;
    grid-area: reset;
}
/*.grid-acdel{
    display: grid;
    grid-template-columns: repeat(2,400px);  
}
*/
.grid-chiffres {
  grid-area: chiffres;
}

.grid-chiffres {
  display: grid;
  grid-template-columns: repeat(3, 100px);
}

.grid-calculs {
  grid-area: calculs
}

.grid-calculs {
  display: grid;
}

.grid-main div {
   /*display: grid;
  place-items: center;
  width: 100%;
  height: 100%;*/
  cursor: pointer;
  font-size: 3rem;
  border: 0px solid white;
  outline: none;
  background-color: rgba(0, 0, 0, .75);

}